<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/6ea273b612.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <title>Mercado Liebre</title>

<body>

<!-- Header -->
<header>
   <div><img class="logo" src="/img/logo-mercado-liebre.svg" alt="logo" width="150" height="150"></div>

    <div><input type="search" id="gsearch" name="gsearch" placeholder="Buscar productos, marcas">
    <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button></div>

    <div><p class="font"><i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y sin tarjeta de credito</p></div>

    <nav>
     <div id="navegador" class="notMobile">
    
       <div><a href="#" class="font">Ofertas</a></div>
       <div><a href="#" class="font">Tiendas Oficiales</a></div>
       <div><a href="#" class="font">Vender</a></div>
       <div><a href="#" class="font">Ayuda</a></div>
        
     </div>
    </nav>

    
    <nav>
     <div id="navegador2"  class="notMobile">

        <div><a href="#" class="font">Crea tu cuenta <i class="fa-regular fa-id-card"></i></a></div>
        <div><a href="#" class="font">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></div>
        <div><a href="#" class="font">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></div>


     </div>
    </nav>


<div align="center"><button class="barras mobile"><i class="fa-solid fa-bars"></i></i></button></div>


</header>

<!-- Main -->

<img src="\img\img-home-banner.jpg" alt = "no esta" style="width: 100%">


<main class="main">

    
<p class="titulares">Basado en tu última visita</p>

<div class="gridcards">

    <article class="boxShadow">     
      <img class="producto" src="/img/img-cafetera-moulinex.jpg" alt="prod" style="width: 100%;">  
      <div class="info">
        <i id="envio" class="fa-solid fa-truck"></i>
        <p class="precio">$6.770</p> 
        <p class="descuento">40% OFF</p> 
        <p class="descripcion">Cafetera Moulinex</p>
      </div>
  
    </article>

   <article class="boxShadow">
       <img class="producto" src="/img/img-macbook-pro-2019.jpg" alt="prod" style="width: 100%;" >
       <div class="info">
        <i id="envio" class="fa-solid fa-truck"></i>
       <p class="precio">$230.000</p> 
       <p class="descuento">20% OFF</p> 
       <p class="descripcion">MacBook Pro 2019</p>  
       </div>

   </article>

   <article class="boxShadow">
       <img class="producto" src="/img/img-samsung-galaxy-s10.jpg" alt="prod" style="width: 100%;">
       <div class="info">
        <i id="envio" class="fa-solid fa-truck"></i>
       <p class="precio">$70.500</p> 
       <p class="descuento">10% OFF</p> 
       <p class="descripcion">Samsung Galaxy S10</p>
       </div>
  
   </article>


   <article class="boxShadow">
       <img class="producto" src="/img/img-tv-samsung-smart.jpg" alt="prod" style="width: 100%;" >
       <div class="info">
        <i id="envio" class="fa-solid fa-truck"></i>
       <p class="precio">$23.200</p> 
       <p class="descuento">5% OFF</p> 
       <p class="descripcion">SmartTv Samsung 43"</p>
       </div>
    

  
   </article>

</div>


<p class="titulares">Ofertas</p>
 <div class="gridcards">

    <article class="boxShadow">
  
      <img class="producto" src="/img/img-cafetera-moulinex.jpg" alt="prod" style="width: 100%;">
      <div class="info">
        <i id="envio" class="fa-solid fa-truck"></i>
      <p class="precio">$6.770</p> 
      <p class="descuento">40% OFF</p> 
      <p class="descripcion">Cafetera Moulinex</p>
      </div>
  
    </article>

   <article class="boxShadow">
       <img class="producto" src="/img/img-macbook-pro-2019.jpg" alt="prod" style="width: 100%;">
       <div class="info">
        <i id="envio" class="fa-solid fa-truck"></i>
       <p class="precio">$230.000</p> 
       <p class="descuento">20% OFF</p> 
       <p class="descripcion">MacBook Pro 2019</p>
       </div>
       </article>

   <article class="boxShadow">
       <img class="producto" src="/img/img-samsung-galaxy-s10.jpg" alt="prod" style="width: 100%;">
       <div class="info">
        <i id="envio" class="fa-solid fa-truck"></i>
       <p class="precio">$70.500</p> 
       <p class="descuento">10% OFF</p> 
       <p class="descripcion">Samsung Galaxy S10</p>
       </div>
              

    </article>


   <article class="boxShadow">
       <img class="producto" src="/img/img-tv-samsung-smart.jpg" alt="prod" style="width: 100%;">
       <div class="info">
        <i id="envio" class="fa-solid fa-truck"></i>
       <p class="precio">$23.200</p> 
       <p class="descuento">5% OFF</p> 
       <p class="descripcion">SmartTv Samsung 43"</p>
       </div>
  
   </article>

</div>


</main>


<!-- Footer -->
<footer>

 <div class="letra-foot">
    <i class="fa-solid fa-credit-card icono"></i>
    <h3>Pagá con tarjeta o en efectivo </h3>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
 </div> 

 <div class="letra-foot">
    <i class="fa-solid fa-gift icono"></i>
    <h3>Envío gratis desde $ 2.500</h3>
    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneﬁcio de Mercado Puntos.</p>
 </div> 

 <div class="letra-foot">
    <i class="fa-solid fa-user-shield icono"></i>
    <h3>Seguridad, de principio a ﬁn</h3>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
 </div>

 <div>
    <p class="letra">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
 </div>

</footer>



</body>
</html>