*{
  box-sizing: border-box;  
  font-family:'Roboto', sans-serif;
 
}

body{
    background-color: #ebebeb;
}

header{
    background-color:  #EAC926;
}


.main{
   
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.font{
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;

}


.barras{

    background-color: #03264C;
    color: white;
    width: 33px;
    height: 33px;
    border-radius: 20%;
    margin-bottom: 2em;
    visibility: visible;

   

}


.titulares{
    font-size: 24px;
}

.precio{
    font-size: 18px;
}

.descuento{
    font-size: 16px;
    color: #39b54a;
}

.descripcion{
    font-size: 16px;
}

.letra-foot{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.icono{
    color: #03264C;
    size: 2em;
    margin-bottom: 10px;
 
}

main{
    background-color: #ebebeb;
    margin-top: 1px;
    width: 90%;
    margin: 0 5vw;
}

#envio{
    color: #39b54a;
    border: #39b54a 1px;
    border-style: solid;
    border-radius: 50%;
    padding: 5px;
 

}

.producto{
    border: 1px;
    border-style: solid;
    background-color: white;
    border-color: white;
    align-self: center;
    padding: 15px;

}

.info{
    border: 1px;
    border-style: solid;
    background-color: white;
    border-color: white;
    align-self: center;
    padding: 15px;

}

.descripcion{
    visibility: hidden;
}

.notMobile{
    visibility: hidden;

}



@media (min-width: 361px) {
   
    .descripcion{
        visibility: visible;
    }

    .boxShadow {
        box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
    }

    .notMobile{
        visibility: visible;
    
    }
   
    .barras{
        visibility: hidden;
    }
}

